* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$background-image: url("<?= base_url(); ?>img/banner.jpg");
body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    position: relative;
    overflow-x: hidden;
    background-color: grey;
    margin: 30px 20px;
    background-image: $background-image;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
}

.logo-heylink {
    line-height: 40px;
}

.logo-heylink svg {
    transform: scale(1.7) translateY(0px);
    color: blue;
}

.logo-heylink a {
    font-size: 25px;
    text-decoration: none;
    color: blue;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}

.container-login {
    display: flex;
}

.register-login {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
}

.kotak-daftar {
    width: 100px;
    height: 40px;
    background-color: orange;
    border-radius: 20px;
    transition: 500ms;
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    animation: neon-glow 500ms linear infinite alternate;
}
.register-login a {
    text-decoration: none;
    font-size: 17px;
    margin-left: 20px;
    color: blue;
    text-align: center;
}

.register-login p {
    color: #fff;
}

.kotak-daftar:hover {
    background-color: blue;
    color: black;
}

.form-login {
    display: flex;
    justify-content: center;
}

.container-form {
    width: 500px;
    height: 100%;
    background-color: #fff transparent;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    animation: neon-glow 500ms linear infinite alternate;
}

@keyframes neon-glow {
    from {
      box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    }
    to {
      box-shadow: 0 0 20px rgba(0, 0, 255, .1);
    }
  }

.header-form {
    margin: 25px auto;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
}

.header-form span {
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.user-box {
    display: flex;
    flex-direction: column;
}

.user-box input {
    border-radius: 3px;
    font-size: 16px;
    padding: 7px 0;
    margin: 10px;
    opacity: 1;
    outline: none;
    box-shadow: 1px 1px 3px 1px orange;
    border: none;
}

.user-box label {
    opacity: 0.6;
    margin-top: 5px;
}

.kotak-login {
    width: 80%;
    height: 45px;
    border-radius: 20px;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    background-color: orange;
    margin: 20px auto;
    color: blue;
    transition: 500ms;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 255, 1);
    animation: neon-glow 500ms linear infinite alternate;
}

.kotak-login:hover {
    background-color: blue;
    color: black;
}

.text {
    font-size: 14px;
    opacity: 0.5;
    margin: auto;
}

.kotak-google {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    height: 40px;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    width: 80%;
    opacity: 0.7;
}

.kotak-google p {
    margin: auto;
    color: black;
}

.img-google {
    transform: translateX(84px)translateY(3px);
    height: 30px;
}

.kotak-no {
    display: flex;
    justify-content: center;
    margin: auto;
    height: 40px;
    line-height: 30px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 20px;
    width: 80%;
    opacity: 0.7;
}

.kotak-no p {
    margin: auto;
    color: black;
}

.kotak-no svg {
    transform: translateX(65px)translateY(5.5px);
    height: 28px;
    width: 30px;
    padding: 5px;
    background-color: orange;
    border-radius: 50%;
}

.login-bottom {
    margin: 25px auto;
    font-size: 16px;
    opacity: 0.5;
}

.login-bottom a {
    font-weight: 400;
    color: blue;
}